.fileList {
  margin-bottom: 20px;
}

.headers {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 20px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.46);
  margin-bottom: 10px;
}

.header {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.445;
  color: #000000;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 