.searchBar {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: max-content;
  gap: 0 25px;
}

.input {
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem;
  font-size: 32px;
  width: 340px;
  height: 46px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: var(--box-shadow);
}

.input::placeholder {
  font-size: 32px;
  color: #999;
  font-weight: 400;
}

.wrapperIcon {
  width: 46px;
  height: 46px;
  cursor: pointer;
}

.searchImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}