.searchBar {
  position: relative;
  width: 300px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-family: 'Jost', sans-serif;
  font-size: 32px;
  font-weight: 300;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.46);
  line-height: 1.445;
  box-shadow: var(--box-shadow);
}

.input:focus {
  outline: none;
  border-color: #000000;
  color: #000000;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.46);
} 