.container {
  background: #F2F2F2;
  min-height: 100vh;
}

.contentWrapper {
  padding: var(--padding-wrapper);
}

.title {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.445;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 20px 0;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}