.form {
  border-radius: 15px;
}

.title {
  font-weight: 300;
  font-size: 50px;
  line-height: 1.419;
  color: rgba(0, 0, 0, 0.53);
  margin: 0 0 20px 0;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.submitButton,
.cancelButton {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
}

.submitButton {
  background-color: #9EA7F5;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.label {
  font-family: 'Karma', serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.419;
  color: #000000;
}

.input {
  font-family: 'Karma', serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.419;
  color: #000000;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}

.input:focus {
  border-color: #9EA7F5;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}