.controls {
    position: relative;  /* Добавляем для правильного позиционирования меню */
    display: flex;
    align-items: center;
    gap: 40px;
}

.createButton {
    border: 1px solid #000;
    border-radius: 30px;
    width: 244px;
    height: 77px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    font-weight: 400;
    font-size: 47px;
}

.createButton:hover {
    background: rgb(180, 179, 179);
}

/* Добавляем стили для контейнера меню */
.menuWrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    margin-top: 8px;
}

.imageContainer {
    position: relative;
    cursor: pointer;
    height: 72px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuContainer {
    position: relative;
    cursor: pointer;
}

.sortImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.2s;
}