

.storageInfo {
  margin-top: 200px;
  padding: 20px;
  border-radius: 8px;
}

.wrapperContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 36px;
}

.progressBar {
  width: 100%;
  height: 20px;
  background: #FFFFFF;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #9EB0F5 69.12%, #FFFFFF 69.13%);
  transition: width 0.3s ease;
}

.text {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 47px;
  line-height: 1.445;
  color: #000000;
  margin: 0;
  text-align: center;
}