.header {
  position: sticky;
  top: 0;
  background: #9EA7F5;
  padding: 36px;
  z-index: 1100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.logoImage {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.contentWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 48px;
}

.leftHeder {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.profile {
  cursor: pointer;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.navigationItem {
  transition: color 0.3s ease;
}

.navigationItem:hover {
  color: #6B7AE0;
}

.profile:hover {
  color: #6B7AE0;
}
