.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.popup {
  border-radius: 30px;
  width: 535px;
  height: 655px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.border-bottom {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #333;
}

.closeButton {
  position: absolute;
  right: 20px;
  top: 10px;
  background: none;
  border: none;
  font-size: 55px;
  cursor: pointer;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 35px;
  border-radius: 50%;
  transition: background-color 0.2s;
  z-index: 2;
}

.closeButton:hover {
  color: #666;
}

.content {
  overflow-y: auto;
  /* max-height: 655px; */
  border-radius: 30px;
  z-index: 1;


}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}